// this comment breaks syntax for css.

.button {
	composes: button-override-hook from global;
	composes: blue-text white-background from './main.less';
	display: inline-block;
	border: 1px solid black;
}

.button :global(.cs-override-icon) {
	vertical-align: middle;
}
